<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="listing-styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sort-menu">
        <div class="sort-menu-container">
            <button class="my-button">option1</button>
            <button class="my-button">option2</button>
            <button class="my-button">ab</button>
            <button class="my-button">veryfuckinglongoption</button>
        </div>
    </div>
    <header>GND<sub style="color:orange;">ind</sub>  </header>
    <div class="background-stripe"></div>
    <div class="container">
        <div class="content">
            <div class="previews" data-scroll-direction="1">
                <div class="image-item"></div>
                <div class="image-item"></div>
            </div>
            <div class="content-stats">Lorem, ipsum dolor 
                sit amet consectetur adipisicing elit. Beatae nobis sunt quibusdam, 
                eaque quisquam ullam minus sequi saepe nisi, facere eos, repellat aperiam obcaecati 
                blanditiis doloribus culpa architecto odio! Animi?</div>
            <div class="nametag">somenamdddddddddddddddddddddd345345sddde</div>
            <div class="nametag-stripe"></div>
            <div class="more-button-wrap">
                <button class="my-button">MORE</button>
            </div>
        </div>
    </div>

    
    <footer></footer>
    <script src="scroll.js"></script>
    <script src="nametagResize.js"></script>
    <script src="sorting.js"></script>
</body>
</html>