<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-styles.css') }}">
</head>
<body>
<header>GND<sub style="color:orange;">ind</sub>  </header>
<div class="background-stripe"></div>
    <div class="form-nametag">REGISTER</div>
    <div class="login-container">
        <form method="POST">
        <label for="username">Username:</label></br>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label></br>
        <input type="password" name="password" required>
        <br>
        <button class="my-button" type="submit">Register</button>
    </form>
    </div>
<footer></footer>
</body>
</html>